/.gradle/
/bin/
/build/
/eclipse/
/gradle/
/run/
.classpath
.settings/
build.gradle
CREDITS-fml.txt
gradlew
gradlew.bat
MinecraftForge-Credits.txt
Paulscode IBXM Library License.txt
Reactioncraft-3_Client.launch
Reactioncraft-3_Server.launch
License-new.txt
forge-1.10.2-12.18.1.2089-changelog.txt
.project