# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.eclipse

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# forge
CREDITS-fml
gradlew
LICENSE-new
MinecraftForge-Credits
Paulscode SoundSystem CodecIBXM License
Reactioncraft-3_Client.launch
Reactioncraft-3_Server.launch

# other
eclipse
run
